@import './global';
@import './header';
@import './main';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', 'Open Sans', sans-serif;
}
.wrapper{
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  background: rgb(103, 75, 177) url('/img/bg-mobile.svg') no-repeat;
}
@media(min-width: 376px){
  .wrapper{
    background: rgb(103, 75, 177) url('/img/bg-desktop.svg') no-repeat;
  }
}
.container{
  max-width: 1110px;
  height: 100%;
  margin: 0 auto;
  padding: 24px;
}